.contain {
  background-color: none;
  border-radius: 5px;
}

.navbar {
  /* background: linear-gradient(45deg, rgb(0,0,0), #07252d,black); */
  background: radial-gradient(#07252d, black);
}
.navFilterTop {
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  /* background: linear-gradient(45deg, rgb(0,0,0), #07252d,black); */
  background: radial-gradient(#07252d, black);
}

.navFilterBotton {
  margin: 5px;
  border-radius: 5px;
  bottom: 0;
}
