.contain {
  background-color: none;
  border-radius: 5px;
}

.navbar {
  background: radial-gradient(#07252d, black);
}
.navFilterTop {
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  background: radial-gradient(#07252d, black);
}

.navFilterBotton {
  margin: 5px;
  border-radius: 5px;
  bottom: 0;
}
